<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timswguschedulertracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screensandviewscontrollers.AssessmentCreate"/>
        <activity android:name=".screensandviewscontrollers.CourseCreateView" />
        <activity android:name=".screensandviewscontrollers.AssessmentListView" />
        <activity android:name=".screensandviewscontrollers.CourseDetailView" />
        <activity android:name=".screensandviewscontrollers.CourseListView" />
        <activity android:name=".screensandviewscontrollers.TermCreateView" />
        <activity android:name=".screensandviewscontrollers.TermDetailView" />
        <activity android:name=".screensandviewscontrollers.AllTerms" />
        <activity android:name=".screensandviewscontrollers.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>